/* BASE */

body { background-color: #EEE; font-family: 'Asap', 'Arial', sans-serif; font-size: 16px; }
img { max-width: 100%; }
em { font-style: italic; }

section, header { margin: 0 0 0 0; padding: auto; }
section.shadowed { box-shadow: inset 0 0 150px #000; }

h1, h2, h3, h4, h5, h6 { font-family: 'Laleza', sans-serif; margin-bottom: 0.5em; }
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 1.25em; }

.content { margin: 0 auto; margin: 1em; }
nav ul li { display: inline-block; width: 25%; }

p { line-height: 1.5em; }

/* GRIDS */

.grid {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-rows: 1fr; 
    gap: 24px;
}
.grid.one { grid-template-columns: 1fr; }
.grid.two { grid-template-columns: 1fr 1fr; }
.grid.three { grid-template-columns: 1fr 1fr 1fr; }
.grid.four { grid-template-columns: 1fr 1fr 1fr 1fr; }
.grid.five { grid-template-columns: 1fr 1fr 1fr 1fr 1fr; }



/* SECTIONS */


@media screen and (min-width: 40em)
{
    .content { margin: 0 auto; max-width: 1200px; }

    h1 { font-size: 3em; }
    h2 { font-size: 4em; }
    h3 { font-size: 1.25em; }
}