/* BASE */

body { background-color: #EEE; font-family: 'Arial', sans-serif;  }
img { max-width: 100%; }

section { margin: 0 0 1em 0; padding: 12em 0; }
section.shadowed { box-shadow: inset 0 0 150px #000; }

h1, h2, h3, h4, h5, h6 { font-family: 'Arial Black', sans-serif; margin-bottom: 0.5em; }
h1 { font-size: 3em; text-shadow: 4px 4px 0 #000; color: #FFF; }
h2 { font-size: 2em; text-shadow: 2px 2px 0 #000; color: #FFF; }
h3 { font-size: 1.25em; text-shadow: 1px 1px 0 #000; color: #FFF; }
em { font-style: italic; }

.content { margin: 0 auto; max-width: 1200px; }
.glass { padding: 3em; backdrop-filter: blur(20px); box-shadow: 0 0 24px rgb(0, 0, 0, 0.5); border-radius: 4px; }

nav ul li { display: inline-block; width: 25%; }

/* GRIDS */

.grid {
    margin: 0 auto;
    max-width: 1200px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    grid-template-rows: 1fr; 
    gap: 24px;
}

.cards li { background-color: #FFF; border-radius: 8px; padding: 1em; box-shadow: 0 4px 16px rgb(197, 197, 197); }
.cards li > img { float: left; padding-right: 1em; max-width: 100px; }

/* SECTIONS */

section.overview { background: url('images/bg/blue.jpg'); background-size: cover; background-attachment: fixed; }

section.technology-skills h3 { text-shadow: none; color: rgb(32, 32, 32); font-size: 1.75em; }
section.technology-skills .years-active { font-family: 'Arial Black', sans-serif; color: rgb(138, 138, 138); margin-bottom: 1em; }
section.technology-skills .detail { font-size: 0.85em; }