/* BASE */

body { background-color: #EEE; font-family: 'Asap', 'Arial', sans-serif; font-size: 16px; }
img { max-width: 100%; }
em { font-style: italic; }
strong { font-weight: bold; }
a { transition: all 0.15s ease-in-out; text-decoration: none; font-weight: bold; color: #086e05; border-bottom: solid 2px #0072be; }
a:visited { color: #0072be; }
a:hover { color: #00b7ff; border-bottom: solid 2px #00b7ff; }

section { margin: 0 0 0 0; padding: 3em 0; }

h1, h2, h3, h4, h5, h6 { font-family: 'Laleza', sans-serif; margin-bottom: 0.5em; }
h1 { font-size: 3.5em; }
h2 { font-size: 3em; }
h3 { font-size: 1.75em; margin-bottom: 0; }
h4 { font-size: 1.25em; margin-bottom: 0; }

.content { margin: 0 auto; margin: 1em; }
nav { max-width: 1100px; margin: 0 auto; }
nav ul { grid-template-columns: 1fr 1fr; }
nav ul li a { display: block; background-color: #000; color: #FFF; padding: 1em; font-weight: bold; border: none; }
nav ul li a:visited { color: #FFF; }
nav ul li a:hover { background: linear-gradient(180deg, rgba(30,199,223,1) 0%, rgba(0,112,200,1) 100%); color: #FFF; border: 0; text-shadow: 2px 2px 0 #000; }

p { line-height: 1.5em; margin-bottom: 1em; font-size: 1.1em; }

ul li { margin-bottom: 0.5; }

.white-bg { background-color: #FFF; }

.sub { font-size: 1.5em; font-family: 'Laleza', sans-serif; color: #646464; }
.title { font-style: italic; font-weight: bold; margin-bottom: 1em; font-size: 1.1em;  }

ul.detail { margin: 1em 0 0 0; }
ul.detail li { margin: 0 0 0.5em 2em; list-style-type: disc; }

/* GRIDS */

.grid {
    margin: 0 auto;
    display: grid;
    grid-template-rows: 1fr; 
}
.grid.one { grid-template-columns: 1fr; }
.grid.two { grid-template-columns: 1fr; }
.grid.three { grid-template-columns: 1fr; }
.grid.four { grid-template-columns: 1fr; }
.grid.five { grid-template-columns: 1fr; }

/* SECTIONS */

header h1 { text-align: center; padding-top: 0.5em; margin: 0; }
header .title-subtext { text-align: center; font-size: 1.25em; padding: 0.8em 0 1.5em 0; }

.technology-skills ul li { margin-bottom: 2em; }
.technology-skills ul.detail li { margin-bottom: 0.5em; }

.additional-skills ul li { margin: 0 0 1em 2em; list-style-type: disc; font-size: 1.1em; line-height: 1.5em; }

.education ul li { margin-bottom: 2em; }
.education .school { margin-bottom: 2em; }

.speaking h4 { font-family: 'Asap', 'Arial', sans-serif; font-size: 1.1em; font-weight: bold; font-style: italic; line-height: 1.5em; }
.speaking .sub { margin-bottom: 0.5em; }
.speaking ul { margin-left: 2em; }
.speaking ul li { margin-bottom: 2em; }
.speaking ul.detail li { margin-bottom: 0.5em; }
.speaking .sub-location { margin: 0; font-size: 1em; }

.travel .image-container { text-align: center; margin: 5em auto; max-width: 800px; }
.travel img { border-radius: 8px; }

/* Larger screen sizes */

@media screen and (min-width: 30em)
{
    nav ul { grid-template-columns: 1fr 1fr 1fr; }

    .technology-skills ul li:hover { transition: transform .3s; transform: scale(1.1); }
    .technology-skills ul.detail li { transition: none; transform: none; }

    .travel img { border-radius: 16px; box-shadow: 0 12px 32px rgb(153, 153, 153); }
}

@media screen and (min-width: 40em)
{
    nav ul li { text-align: center; }

    .content { margin: 1em; }

    h1 { font-size: 4em; }
    h2 { font-size: 3.5em; }
    h3 { font-size: 1.75em; margin-bottom: 0; }
    h4 { font-size: 1.25em; margin-bottom: 0; }

    .grid.four { grid-template-columns: 1fr 1fr; }

    .technology-skills .grid { gap: 1em; }
    .technology-skills .grid > li { background-color: #FFF; margin: 0; padding: 1em; border-radius: 6px; box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15); }

    .employment ul li { margin-bottom: 3em; }
    .employment h3 { font-size: 2em; }

}

@media screen and (min-width: 60em)
{
    h1 { font-size: 5em; }

    nav ul { grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr; }
    

    .content { margin: 0 auto; padding: 1em; max-width: 1100px; }
    .grid.four { grid-template-columns: 1fr 1fr 1fr 1fr; }

    header .title-subtext { font-size: 1.75em; }
}

@media screen and (min-width: 80em)
{
    nav ul li a { font-size: 1.25em; }
}